*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    background-color: rgb(174, 232, 174);
    width: 100%;
    height: 100%;
}
#heading{
    padding-top: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#heading h1{
    font-size: 11vw;
    font-weight: 900;
    color: green;
}
#heading a{
    padding: 1vw 2vw;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.7vw;
    transition: all ease-in-out .5s;
}
#heading a:hover{
    transform: scale(1.1);
}
@media (max-width:600px) {
    #main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
