*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 207, 134);
}
#panel{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(190, 228, 190);
}
#ptop{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 6vw;
    background-color: green;
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box{
    width: 45px;
    height: 25px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    background-color: #fff;
}
#pbtm{
    padding: 10px;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 6vw);
}
#pbtm a{
    padding: 1vw 2vw;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.7vw;
    transition: all ease-in-out .5s;
}
#pbtm a:hover{
    transform: scale(1.1);
}
.bubble{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
}
.bubble:hover{
    background-color: rgb(134, 207, 134);
    cursor: pointer;
}
